@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;600&family=Lato:wght@400;700&display=swap');


/*OK: Faltam pequenos reparos nos tamanhos */
.Login {
    background-color: #FFFCE8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    min-height: fit-content;
}

.logo {
    width: 94%;
    height: 20.527859vh;
    /* 210/1023 */
    align-self: center;
}

.sunny {
    align-self: center;
    height: clamp(220px, 224px);
    /* 60px/1023 */
    width: 11.241447vw;
    /* 115px/1023 */
    margin-bottom: 15px;
}

.Login input {
    border-radius: 43px;
    margin: 15px;
    height: clamp(25px, 35px, 45px);
    /* 60px/1023 */
    ;
    width: clamp(250px, 282px, 282px);
    /* 145px/1023 */
    align-self: center;
    background-color: radial-gradient(86.8% 325.5% at 8% 0%, #FFFFFF 0%, #FFFCE8 100%);
    padding: 15px;
    border: none;
    box-shadow: 0px 7px 22px 0px rgba(212, 70, 241, 0.55);
    outline: none;
}

input[type="range"] {
    background: #f1c0fe;
    appearance: none;
    border-radius: 23px;
    width: 33px;
    /* 25px/1023 */
    height: 15px;
    /* 10px/1023 */
    padding: 0%;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 13px;
    /* 23px/1023 */
    width: 13px;
    /* 10px/1023 */
    border-radius: 50%;
    background: white;
}

.Login button {
    background: radial-gradient(86.8% 325.5% at 8% 0%, #F5A598 0%, #F090B8 100%);
    border: none;
    border-radius: 23px;
    color: white;
    font-weight: 14px;
    height: clamp(30px, 40px, 50px);
    width: clamp(150px, 182px, 182px);
    align-self: center;
    margin: 15px;
    box-shadow: 0px 7px 22px 0px rgba(212, 70, 241, 0.55);
}

.lembrar-me {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 700;
    color: #000000CC;
    letter-spacing: 0.05em;
}

.esqueceu-senha {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    align-self: center;
}

.link-cadastro {
    margin-bottom: 1.87rem;
    font-size: 0.75rem;
    align-self: center;
    font-family: 'Lato';
    align-self: center;
}

footer {
    align-self: center;
    background-image: url('../../assets/nuvens.png');
    background-size: 100% 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: repeat-x, repeat-x;
    animation: nuvens 5s linear infinite;
}

footer img {
    margin-bottom: -5vh;
    align-self: center;
}

@keyframes nuvens {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 100% 0, 100% 0;
    }
}