.Play {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: fit-content;
}

@media (min-width: 1023px) {
    .Play {
        width: 400px;
        height: 100vh;
        align-self: center;
        padding: 20px 0px;
        
    }

    .alfabeto {
        max-width: 25%;
        padding: 0px 0px;
    }
    
}

.main {
    width: 60%;
    min-height: 100%;
    background-color: #F9DBFF;
    display: flex;
    flex-direction: column;
}

.main img {
    align-self: center;
    margin-top: 40%;
}

.inicio h1 {
    font-family: 'Atma';
    font-size: 25px;
    font-weight: 600;
    color: #343434;
    margin-bottom: 14px;
    margin-left: 30px;
}

.inicio h2 {
    font-family: 'Leelawadee UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* or 16px */

    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 14px;
    margin-left: 30px;
    color: #8E8E8E;
}

.voltar {
    background: none;
    border: none;
}

.voltar img {
    margin-left: 10px;
    width: 52px;
    height: 52px;
}

.main-letra {
    height: 163.19px;
    width: 163.19px;
}

.alfabeto {
    width: 40%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #F9E6E6;
    justify-content: center;
    padding: 10px 0px;
}

.alfabeto button {
    background: none;
    border: none;
    height: 39px;
    width: 39px;
}

.Play button:focus {
    border: none;
    outline: none;
}