.Play {
    display: flex;
    width: 400px;
    height: 100vh;
}
.button-voltar{
    background: none;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.alfabeto{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 40%;
}
.alfabeto-button{
    height: 39px;
    width: 39px;
    background: none;
    cursor: pointer;
    border: none;
    box-shadow: none;
}